// General Cultural Centers Styles
.post-type-archive-artists-projects {
	.breadcrumbs {
		background-color: $green-blue;
	}
	.page-header {
		@media ( min-width: $screen-sm ) {
			margin-bottom: 45px;
		}
	}
	.wrap{
		h1 {
			color: $green-blue;
		}
		// Cultural Center Filter
		#artist-project-filter {
			margin-bottom: 15px;

			& > span {
				float: left;
				padding-top: 15px;
				display: none;
			}

			.filter-items {
				display: inline-block;
				width: 100%;
				margin: 0;
				padding-left: 0;
				border-bottom: 2px solid $green-blue;

				li {
					font-weight: 700;
					color: $green-blue;
					list-style: none;
					float: left;
					padding: 15px;
					border-bottom: 3px solid #fff;
					margin: 0;

					&:hover, &:active, &:focus, &.active {
						cursor: pointer;
						border-color: $green-blue;
					}
				}
			}

			@media ( min-width: $screen-sm ) {
				border-bottom: 2px solid $green-blue;

				& > span {
					display: block;
				}
				.filter-items {
					float: left;
					width: auto;
					padding-left: 15px;
					border: 0;
				}
			}
		}
		#classes-filter {
			float: right;
			padding-top: 15px;

			span {
				color: $pinkish-grey;
				float: left;

				&.on {
					color: $dark-grey;
				}
			}
			.onoffswitch {
				float: left;
				margin-left: 10px;
				margin-top: 4px;
			}
		}

		// Cultural Center Grid
		.loading-div {
			display: none;
		}
		.artist-project-box {
			position: relative;
			margin-bottom: 20px;

			a {
				text-decoration: none;

				h2 {
					margin-bottom: 5px;
					margin-top: 15px;
				}
				.thumb-container {
					height: 220px;
					width: auto;
					overflow: hidden;
					position: relative;

					img {
						height: 100%;
						width: auto;
						max-width: inherit;
						position: absolute;
						left: 0;
						@include transition(transform 4s ease);
					}
				}

				&:hover, &:focus, &:active {
					h2 {
						color: $green-blue;
					}
					.thumb-container {
						background-color: #000;

						img {
							@include opacity(0.8);
						}
					}
				}
			}
		}
		@media ( min-width: $screen-sm ) {
			.artist-project-box {
				margin-bottom: 30px;

				a {
					.thumb-container {
						height: 165px;
					}
				}
			}
		}
		@media ( min-width: $screen-md ) {
			.artist-project-box {

				a {
					.thumb-container {
						height: 200px;
					}
				}
			}
		}
	}
}