// Search Results
.search {
	.wrap{
		h1, h2, h3, h4, h5, h6 {
			color: $grey;
			margin-top: 0px;
		}
		.container {
			padding: 0;
		}
	}
	img {
		max-width: 100%;
    	height: auto;
	}
	header {
		&.navbar {
			border-bottom: 1px solid $blue;
		}
	}
	.top-spacing {
		padding-top: 30px;
		@media ( min-width: $screen-sm ) {
			padding-top: 60px;
		}
	}
	.bottom-spacing {
		padding-bottom: 30px;

		@media ( min-width: $screen-md ) {
			padding-bottom: 60px;
		}
	}
	.breadcrumbs {
		background-color: $grey;
		color: #fff;
		a {
			color: #fff;
		}
	}
	.page-header {
		margin-bottom: 30px;
	}

	// Message area
	.message-area {
		border-top: 1px solid $light-grey;
		padding-top: 15px;
	}

	// Search form	
	.form-zip {
		max-width: 100%;
		padding-bottom: 15px;

	    form {
	    	input {
		    	padding-left: 25px;
		    	outline: none!important;
		    	box-shadow: none!important;
		    	height: 46px;
		    }
		    button[type=submit] {
			    background-color: $dark-grey;
			    color: #fff;
			    border: 1px solid $dark-grey;
			    padding: 11.5px 22px;

			    &:hover {
				    background-color: transparent;
				    color: #211814;
				}
			}
		    .location-icon {
			    width: 12px;
			    height: 15px;
			    background: url(../images/about/location-icon.png) no-repeat center;
			    background-size: contain;
			    position: absolute;
			    left: 0;
			    top: 18px;
			}
		}

		@media ( min-width: $screen-sm ) {
			padding-right: 15px;
			padding-bottom: 0;
			float: left;
			max-width: 360px;
		}
	}

	// View all button
	.view-all-container {
		hr {
			margin-top: 0;
		}
	}
	.view-all {
		display: block;

		@media ( min-width: $screen-sm ) {
			display: inline-block;
		}
	}

	.result-list {
		display: inline-block;
		margin-bottom: 15px;

		.district-box {
			position: relative;
			margin-bottom: 20px;

			a {
				text-decoration: none;

				h2 {
					margin-bottom: 5px;
					margin-top: 15px;
				}
				.district-img {
					width: auto;
					overflow: hidden;
					position: relative;

					img {
						max-height: 250px;
						max-width: 100%;
    					height: auto;
						@include transition(transform 4s ease);
					}
				}

				&:hover, &:focus, &:active {
					h2 {
						color: $blue;
					}
					.district-img {
						background-color: #000;

						img {
							@include opacity(0.8);
						}
					}
				}
			}
		}
		@media ( min-width: $screen-sm ) {
			padding-top: 30px;
			
			.district-box {
				margin-bottom: 30px;

				a {
					.district-img {
					}
				}
			}
		}
		@media ( min-width: $screen-md ) {
			.district-box {

				a {
					.district-img {
					}
				}
			}
		}
	}
}